<style>
footer {
background-color: #f3f3f3;
}
.conteudo a {
color:rgb(76, 76, 78);
text-decoration: none;

}
.conteudo a:hover {
    text-decoration: underline;
}
.conteudo {
color:rgb(76, 76, 78);
margin: 0px 60px;

}

footer ul {
    padding: 12px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
 
 </style>
 <footer>
    <section class="conteudo" >
        <div id="title-footer">Dúvidas? Ligue <a href="#">0800 591 8942</a></div>
        <ul>
            <li><a href="#">Perguntas frequentes</a></li>
            <li><a href="#">Central de Ajuda</a></li>
            <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Preferências de cookies</a></li>
            <li><a href="#">Informações corporativas</a></li>
            <li><a href="#">Privacidade</a></li>
            
        </ul>
        <div class="select-idioma-footer">
            <div id="select-idioma">
                <div class="internet"></div>
                <select name="" id="idioma">
                    <option value="">Português</option>
                    <option value="">English</option>
                </select>
                <div class="seta-para-baixo"></div>
            </div>
        </div>
        <p>Netflix Brasil</p>
    </section>
</footer>