<style>



</style>
<section id="area-header">
    <div id="section-logo-netflix"> <img src="/image/netflix-logo.png"></div>
    <div id="section-rigth">

    <form  action="/cadastro/singIn" method="post">
    <a href=""><button class="buttonEntrar" type="submit">Entrar</button></a> </form>
</section>