<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Brasil - assistir a séries online, assistir a filmes online</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/passos.css">
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
</head>

<body style="background-color:white">
    <header style="padding: 0px 15px; border-bottom: 1px solid black; margin-bottom: 50px" >
    {{>../../../views/partials/headerPassos}}
    </header>
    <main class="mainContainer">
        <section id="sectionPayment">
            <div class="payTitle">
                <img src="/image/lock.png" alt="">
                <p>PASSO 4 DE 4</p>
                <h1>Escolha como você quer pagar</h1>
                <p>Sua forma de pagamento está criptografada e você pode mudá-la quando quiser.</p>

                <span>Segurança e traquilidade. <br/>Cancele online com facilidade.</span>
            </div>
            <div class="areaPayment">
                <div class="paymentCrip">
                    criptografia de ponta a ponta <img src="/image/locked.png" alt="">
                </div>

                <div class="cardPayment">
                    <div>
                        <p>Cartão de crédito ou débito</p>
                        <img src="" alt="">
                    </div>
                    <img src="/image/right-arrow.png" alt="">
                </div>

                <div class="codPayment">
                    <div>
                        Código do cartão pré-pago
                        <img src="" alt="">
                    </div>
                    <img src="/image/right-arrow.png" alt="">
                </div>
            </div>
        
        </section>
    </main>
    {{>../../../views/partials/footerPassos}}
</body>
</html>