<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Brasil - assistir a séries online, assistir a filmes online</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/passos.css">
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
</head>

<body style="background-color:white">
    <header style="padding: 0px 15px; border-bottom: 1px solid black; margin-bottom: 50px" >
    {{>../../../views/partials/headerPassos}}
    </header>
    <main class="mainContainer">
       <section class="form_Passo">
        <p class="passo">PASSO {{passo}} DE 3</p>
        <h1>
        Bem-vindo(a) de volta!<br>
        É fácil assinar a Netflix.
        </h1>
        <p>Informe sua senha para começar a assistir.</p>

        <div class="formText">
            <p>Email</p>
            <p class="strong">{{email}}</p>
        </div>

        <form class="formPassoInput" action="/cadastro/singUp" method="post">
            <input class="inputPasso">
            <a  href="#">Esqueceu a senha?</a>
            <button class="buttonProximoPasso">Próximo</button>
        </form>

       </section>

    </main>
    {{>../../../views/partials/footerPassos}}
</body>
</html>