
<section class="conteudo">
    <div id="title-footer">Dúvidas? Ligue <a href="#">0800 591 8942</a></div>
    <ul>
        <li><a href="#">Perguntas frequentes</a></li>
        <li><a href="#">Central de Ajuda</a></li>
        <li><a href="#">Conta</a></li>
        <li><a href="#">Media Center</a></li>
        <li><a href="#">Relações com investidores</a></li>
        <li><a href="#">Carreiras</a></li>
        <li><a href="#">Resgatar cartão pré-pago</a></li>
        <li><a href="#">Comprar cartão pré-pago</a></li>
        <li><a href="#">Formas de assistir</a></li>
        <li><a href="#">Termos de Uso</a></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Preferências de cookies</a></li>
        <li><a href="#">Informações corporativas</a></li>
        <li><a href="#">Entre em contato</a></li>
        <li><a href="#">Teste de velocidade</a></li>
        <li><a href="#">Avisos legais</a></li>
        <li><a href="#">Só na Netflix</a></li>
    </ul>
    <div class="select-idioma-footer">
        <div id="select-idioma">
            <div class="internet"></div>
            <select name="" id="idioma">
                <option value="">Português</option>
                <option value="">English</option>
            </select>
            <div class="seta-para-baixo"></div>
        </div>
    </div>
    <p>Netflix Brasil</p>
</section>